// LAYOUT

// The designs were created to the following widths

$Mobile: 375px;
$Desktop: 1440px;

// COLOURS

// #Neutral

$AlmostWhite: hsl(0, 0%, 98%);
$MediumGray: hsl(0, 0%, 41%);
$AlmostBlack: hsl(0, 0%, 8%);

// Body Copy

$FontSize : 18px;

// Print Size
$smallPrint: 500;
$largePrint: 700;